{% extends "base.html" %}
{% block title %}Diamon Domains{% endblock %}
{% block extrajs %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript">
		function check_name(name){
			val = name.split('.');
			if(val.length == 2 && val[1].length > 0 && val[0].length > 0){
				return true;
			} else {
				return false;
			}
		}
		var lat;
		var lng;
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				lat = position.coords.latitude;
				lng = position.coords.longitude;
			});
		}
		$(document).ready(function(){
			$('#post-form').on('submit', function(event){
				event.preventDefault();
				locationd = {};
				if(check_name($('#id_search_query').val()) == true)
				{$.ajax({
					url : "ajax/search/",
					type: 'POST',
					data: { search_q : $('#id_search_query').val(), 
						latitude : lat,
						longitude : lng,
					
					},
					success : function(json) {
						console.log(json);

						for ( let w of json.retlist){
						$('#resultbox').append($('<li>', { class: 'list-group-item', text: w }));
						}
					},
					error : function(xhr, errmsg, err) {
						console.log("git gud");
					}
				});}
					else{ $('#test').text(''); }
				event.preventDefault();
			});});

/*		$('#post-form').on('input', function(event){
				locationd = {};
				if(check_name($('#id_search_query').val()) == true)
				{$.ajax({
					url : "ajax/search/",
					type: 'POST',
					data: { search_q : $('#id_search_query').val(), 
						latitude : lat,
						longitude : lng,
					
					},
					success : function(json) {
						console.log(json);
						$('#test').text(json);
					},
					error : function(xhr, errmsg, err) {
						console.log("git gud");
					}
				});}
					else{ $('#test').text(''); }
				});
				});*/
	</script>
{% endblock %}
{% block headsection %}
<div class="jumbotron jumbotron-fluid text-center bg-info">
	<div class="container text-center">
		<h1 class="display-2 text-center">Diamon DNS</h1>
	</div>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="input-group justify-content-center">
<form action="/ajax/search/" method="post" id="post-form" class="form-inline">
	{% csrf_token %}
	{{ form }}
	<span class="input-group-btn">
	<input type="submit" class="btn btn-primary" value="Check Name" />
	</span>
</form>
		</div>
	</div>
</div>

</div>
{% endblock %}

{% block content %}
<hr />
{% endblock %}
{% block tail %}
<div class="container" id="home">
	<ul class="list-group" id="resultbox">

	</ul>
</div>
{% endblock %}
