{% extends "base.html" %}
{% block title %}DynaDomain{% endblock %}
{% block extrajs %}
	{% load static %}
<style>
@font-face { 
	font-family: "crap";
	src: "fonts/DroidKufi-Bold.ttf";
}
body {
	font-family: "crap";
}
</style>
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript">
		function fys(target){
			var i = 0, j = 0, temp = null;
			for(i = target.length -1; i > 0; i -= 1) {
				j = Math.floor(Math.random() * (i + 1));
				temp = target[i];
				target[i] = target[j];
				target[j] = temp;
			}
			return target;
		}
		function check_name(name){
			val = name.split('.');
			if(val.length == 2 && val[1].length > 0 && val[0].length > 0){
				return true;
			} else {
				return false;
			}
		}
		var lat;
		var lng;
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				lat = position.coords.latitude;
				lng = position.coords.longitude;
			});
		}
		$(document).ready(function(){
			$('#post-form').on('submit', function(event){
				event.preventDefault();
				locationd = {};
				if(check_name($('#id_search_query').val()) == true)
				{$.ajax({
					url : "ajax/search/",
					type: 'POST',
					data: { search_q : $('#id_search_query').val(), 
						latitude : lat,
						longitude : lng,
					
					},
					success : function(json) {
						console.log(json);
						mlist = json.retlist.reverse();
						if(mlist.length > 20)
							mlist = mlist.slice(0, 19);
						$('#resultbox').empty();
					//	mlist = fys(mlist);
						for ( let w of mlist){
						$('#resultbox').append($('<li>', { class: 'list-group-item', text: w, id: w.split('.')[0]+w.split('.')[1], }));
						id = '#' + w.split('.')[0]+w.split('.')[1];
						price = Math.random() < 0.5 ? ((1-Math.random()) * (50-0.99) + 0.99) : (Math.random() * (50-0.99)+0.99);
						factor = Math.pow(10, 2);
						price = Math.round(price *factor)/factor;
						price = price.toFixed(2);
						if(price > 20)
							$(id).append($('<button>', { class: 'float-right btn btn-success', text: "Buy"}));
						else
							$(id).append($('<button>', { class: 'float-right btn btn-success', text: "Buy"}));

							
							strn = "$" + price;
		$(id).append($('<span>', { class: 'badge float-right', text: strn}));
						
						}
					},
					error : function(xhr, errmsg, err) {
						console.log("git gud");
					}
				});}
					else{ $('#test').text(''); }
				event.preventDefault();
			});});

/*		$('#post-form').on('input', function(event){
				locationd = {};
				if(check_name($('#id_search_query').val()) == true)
				{$.ajax({
					url : "ajax/search/",
					type: 'POST',
					data: { search_q : $('#id_search_query').val(), 
						latitude : lat,
						longitude : lng,
					
					},
					success : function(json) {
						console.log(json);
						$('#test').text(json);
					},
					error : function(xhr, errmsg, err) {
						console.log("git gud");
					}
				});}
					else{ $('#test').text(''); }
				});
				});*/
	</script>
{% endblock %}
{% block headsection %}
<div class="jumbotron jumbotron-fluid text-center bg-info">
	<div class="container justify-content-center">
	<div class="container text-center">
		<h1 class="display-2 text-center text-white" style="font-family: 'crap';">DynaDomain</h1>
	</div>
<div class="container-fluid justify-content-center">
	<div class="row justify-content-center">
		<div class="input-group justify-content-center">
<form action="/ajax/search/" method="post" id="post-form" class="form-inline form-control-lg" style="width: 50%;">
	{% csrf_token %}
	{{ form }}
	<span class="input-group-btn">
	<input type="submit" class="btn btn-primary" value="Check Name" />
	</span>
</form>
		</div>
	</div>
</div>
	</div>

</div>
{% endblock %}

{% block content %}
<hr />
<div class="container" id="home">
	<ul class="list-group border" id="resultbox">

	</ul>
</div>
<hr />

{% endblock %}
{% block tail %}
	<div class="jumbotron jumbotron-fluid text-center bg-info"> 
<h3 class="display-5 text-white" style="font-family: 'crap';">Team Monarchs</h3>
	</div>
{% endblock %}
