{% extends "base.html" %}
{% block title %}DNSE HOME{% endblock %}
{% block extrajs %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#post-form').on('submit', function(event){
				event.preventDefault();
				locationd = {};
				console.log("form submitted");
				console.log($('#id_search_query').val());	
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position) {
					locationd.latitude = position.coords.latitude;
					locationd.longitude = position.coords.longitude;
				console.log(locationd.latitude + locationd.longitude);
				$.ajax({
					url : "ajax/search/",
					type: 'POST',
					data: { search_q : $('#id_search_query').val(), 
						latitude : locationd.latitude,
						longitude : locationd.longitude,
					
					},
					success : function(json) {
						$('#id_search_query').val('');
						console.log(json);
						$('#test').text(json);
					},
					error : function(xhr, errmsg, err) {
						console.log("git gud");
					}
				});});
				}
			});
		
		});
	</script>
{% endblock %}
{% block headsection %}
<div class="jumbotron jumbotron-fluid text-center bg-info">
	<div class="container text-center">
		<h1 class="display-1 text-center">DNSE</h1>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row justify-content-center">
<form action="/ajax/search/" method="post" id="post-form">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Check Name" />
</form>
	</div>
</div>
<hr />
{% endblock %}
{% block tail %}
<div class="container">
	<p id="test">here</p>
</div>
{% endblock %}
